$color-primary: #31312ef1;
$color-secondary: #242421a9;
$color-black: #000;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: $color-primary;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

body{
  position: relative;
  min-height: 100vh;
}

#navbar {
  height: 40vh;
}

#navbar ul {
  list-style: none;
  float: right;
  position: relative;
}

#navbar ul li:first-child {
  position: absolute;
  left: -1070px;
  top: 0px;
  transition: ease-in-out 0.3s;
  &:hover {
    color: teal;
  }
}

#navbar li {
  font-size: 2.75rem;
  color: white;
  padding: 3rem;
  text-align: center;
  float: left;
}

#navbar a {
  text-decoration: none;
  color: white;
  &:hover {
    color: teal;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
}

main a {
  text-decoration: none;
}
.most-recent-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.most-recent-post img {
  height: 300px;
}
.most-recent-post-title {
  margin: 15px 0;
  font-size: 2rem;
}
.most-recent-post-title span{
  margin-left: 15px;
  color: rgb(203, 201, 201);
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  text-align: center;
  color: white;
}