$color-primary: #e0dfbe;
$color-secondary: #d1bb6a;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
//   background-color: $color-primary;
  background: linear-gradient(
    to right,
    rgba($color-primary, 1),
    rgba($color-secondary, 1)
  );
  background-attachment: fixed;
}
